@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}

:root {
    --main-color: #4BCFE5;
    --sub-color: #51d8a9;
    --black: #181818;
    --white: #fff;
    --red: #dd0416;
    --D-gray: #8b8b8e;
    --M-gray: #b9b9bb;
    --L-gray: rgba(0, 0, 0, 0.1);
    --slide-one: #8c012b;
    --slide-two: #018ed5;
    --slide-three: #8c263a;
    --bold: 'yg-jalnan';
}

::selection {
    background-color: var(--main-color);
    color: var(--white);
}

body {
    color: var(--black);
    font-display: swap;
    font-family: "NanumSquareRound";
}

.stop-scrolling {
    overflow: hidden;
}

button {
    background-color: transparent;
    border: none;
}

.wrap, nav ul, main, .hot-prods ul, .new-prods ul, main ul li, .prods {
    display: flex;
}

.wrap {
    flex-direction: column;
}

main {
    flex-direction: column;
    position: relative;
    height: 100%;
    padding-top: 61px;
    background-color: var(--white);
}

.inner {
    width: 1140px;
    display: flex;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 69.7vh;
    width: 100%;
    opacity: 1;
    z-index: 2;
    visibility: visible;
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 125px;
    padding-bottom: 105px;
}

.loader.hide {
    animation: visible 0.3s linear forwards;
    height: 0;
    padding: 0;
}

.events-wrap .loader {
    height: 44.7vh;
}

.blind {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
}

.top {
    position: fixed;
    right: 10px;
    bottom: 30px;
    z-index: 1;
    font-size: 1.5em;
    color: var(--L-gray);
    border: 1px solid var(--L-gray);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    transition: all 0.1s linear;
}

.top.active {
    color: var(--white);
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.top:hover {
    color: var(--M-gray) !important;
}

.top.active:hover {
    color: var(--L-gray) !important;
}

@keyframes visible {
    from {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    z-index: 10;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
    transition: backdrop-filter 0.1s linear;
}

nav {
    justify-content: space-between;
}

nav .menu {
    align-items: center;
}

nav .menu li a {
    color: var(--M-gray);
    font-weight: 600;
    transition: color 0.05s linear;
}

nav .menu li a.active, nav .menu li a.active:hover {
    color: var(--main-color);
    transition: color 0.2s linear;
}

nav .menu li a:hover {
    color: var(--D-gray);
    transition: color 0.2s linear;
}

nav .menu li+li {
    margin-left: 20px;
}

nav .menu a[href="/events"]:hover>li {
    visibility: hidden;
}

nav .menu a[href="/events"]:hover>li:after {
    content: "행사상품";
    visibility: visible;
    position: relative;
}

.logo {
    background: linear-gradient(to right, var(--main-color) 0%, var(--main-color) 46%, var(--sub-color) 46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2em;
    font-family: var(--bold);
}

nav .hmbgr {
    display: none;
}

/* Slide */

.hot-prods .slick-slider {
    width: 100%;
}

.slick-dots {
    bottom: 10px !important;
}

.slick-dots li button:before {
    transition: all 0.3s linear;
}

.slick-dots li button:before, .slick-dots li.slick-active button:before {
    color: var(--white) !important;
}

.new-prods .slick-dots {
    position: relative;
    margin-top: 20px;
    bottom: 0;
}

.new-prods .slick-dots li button:before,
.new-prods .slick-dots li.slick-active button:before {
    color: var(--M-gray);
}

.slick-prev, .slick-next {
    border: 1px solid var(--L-gray) !important;
    top: -55.5px !important;
    border-radius: 50%;
    padding: 18px !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    opacity: .8;
    transition: opacity 0.1s linear;
}

.slick-prev {
    left: 0 !important;
}

.slick-next {
    right: 0 !important;
}

.slick-prev:before, .slick-next:before {
    content: "";
    position: absolute;
    color: transparent !important;
    transition: color 0.2s ease;
    top: 12px;
    opacity: .6;
    width: 12px;
    height: 12px;
    border-right: 2px solid var(--M-gray);
    border-bottom: 2px solid var(--M-gray);
}

.slick-prev:before {
    left: 14px;
    transform: rotate(135deg);
}

.slick-next:before {
    right: 14px;
    transform: rotate(315deg);
}

.slick-prev:hover, .slick-next:hover {
    opacity: 1;
}

/* Hot Prods */

.slick-slide>div {
    height: 100%;
}

.slide-box {
    overflow: hidden;
}

.hot-prods .img-box {
    height: 400px;
    background-position: center;
    background-position-y: initial;
}

.slide-box .img-box img {
    display: none;
}

.slide-box.one .img-box {
    background-image: url("../public/images/bg_1.webp");
}

.slide-box.two .img-box {
    background-image: url("../public/images/bg_2.webp");
}

.slide-box.three .img-box {
    background-image: url("../public/images/bg_3.webp");
}

.hot-prods .slick-list {
    border-radius: 15px;
}

.hot-prods .slick-slide {
    height: 400px;
}

.hot-prods {
    position: relative;
}

.hot-prods .inner {
    margin: 0 auto;
    flex-direction: column;
}

.hot-prods img {
    width: initial;
}

.new-prods h2, .prods-wrap h2, .best-wrap h2, .events-wrap h2 {
    color: var(--main-color);
    font-weight: 600;
    font-size: 1.5em;
}

.slide-box .text-box h3 {
    border-radius: 25px;
}

/* Best Prods */

.best-wrap .prod-box.cu::after,
.best-wrap .prod-box.gs::after,
.best-wrap .prod-box.se::after {
    position: absolute;
    display: inline-block;
    top: 15px;
    right: 15px;
    width: 50px;
    height: 40px;
    line-height: 42px;
    font-size: 0.9em;
    font-weight: 600;
    text-align: center;
    border-radius: 25px;
    color: var(--white);
}

.best-wrap .prod-box.cu::after {
    content: "CU";
    background-color: #652f8d;
}

.best-wrap .prod-box.gs::after {
    content: "GS25";
    background-color: #007cff;
    width: 55px;
}

.best-wrap .prod-box.se::after {
    content: "7ELEVEN";
    background-color: #1b932a;
}

/* New Prods */

.new-prods {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 60px;
}

.new-prods .inner {
    flex-direction: column;
}

.new-prods .cvs-wrap {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    border-bottom: 1px solid var(--L-gray);
}

.new-prods .cvs-wrap:nth-child(3) {
    border: none;
    padding-bottom: 0;
}

.new-prods .title {
    text-align: center;
    position: relative;
    padding: 30px 0;
    cursor: default;
}

.new-prods .title h2 {
    font-size: 1.5em;
    letter-spacing: 0.2em;
}

.new-prods .more {
    color: var(--M-gray);
    padding-top: 20px;
    align-self: flex-end;
    transition: color 0.1s linear;
}

.new-prods .more:hover {
    color: var(--D-gray);
}

.new-prods .more::after {
    content: "";
    display: inline-block;
    position: relative;
    margin-left: 5px;
    width: 10px;
    height: 10px;
    border-right: 2px solid var(--M-gray);
    border-bottom: 2px solid var(--M-gray);
    transform: rotate(315deg);
    transition: border 0.1s linear;
}

.new-prods .more:hover::after {
    border-right: 2px solid var(--D-gray);
    border-bottom: 2px solid var(--D-gray);
}

.new-prods .prod-box::after {
    content: "NEW";
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 10px;
    font-size: 0.8em;
    line-height: 0.85em;
    padding: 5px 5px 3px 7px;
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    color: var(--white);
    background-color: var(--sub-color);
}

.new-prods .prod-box {
    margin: 0 auto;
    width: 220px;
    height: 280px;
    border: 1px solid var(--L-gray);
    border-radius: 10px;
}

.new-prods .slick-slide:nth-of-type(4n+1) .prod-box {
    /* border: 1px solid pink; */
    margin-left: 0;
}

.new-prods .slick-slide[data-index="1"] .prod-box,
.new-prods .slick-slide[data-index="5"] .prod-box {
    /* border: 1px solid blue; */
    margin-right: 45px;
    margin-left: 25px;
}

.new-prods .slick-slide[data-index="2"] .prod-box,
.new-prods .slick-slide[data-index="6"] .prod-box {
    /* border: 1px solid green; */
    margin-left: 45px;
    margin-right: 25px;
}

.new-prods .slick-slide:nth-of-type(4n+0) .prod-box {
    /* border: 1px solid red; */
    margin-right: 0;
}

/* Prods */

.blank {
    width: 29vw;
}

.prods {
    flex-wrap: wrap;
    padding-bottom: 60px;
}

.prods-wrap, .best-wrap, .events-wrap {
    display: flex;
    justify-content: center;
}

.prods-wrap .inner, .best-wrap .inner, .events-wrap .inner {
    flex-direction: column;
}

.prods-wrap h2, .best-wrap h2, .events-wrap h2 {
    font-size: 1.5em;
    letter-spacing: 0.5em;
    margin-right: -0.5em;
    align-self: center;
    padding: 30px 0 42px;
}

.prods-wrap .prod-box,
.best-wrap .prod-box,
.events-wrap .prod-box {
    width: 240px;
    height: 300px;
    padding: 15px;
    margin-right: 60px;
    margin-bottom: 41.2px;
    border: 1px solid var(--L-gray);
    border-radius: 10px;
    transition: all 0.2s ease;
    cursor: default;
}

.prods-wrap .prod-box:hover,
.best-wrap .prod-box:hover,
.events-wrap .prod-box:hover {
    border: 1px solid var(--M-gray);
}

.prods-wrap .prod-box:nth-child(4n),
.best-wrap .prod-box:nth-child(4n),
.events-wrap .prod-box:nth-child(4n),
.prods-wrap .prod-box:last-of-type,
.best-wrap .prod-box:last-of-type,
.events-wrap .prod-box:last-of-type {
    margin-right: 0;
}

.prod-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.prod-box .img-box {
    position: relative;
    width: 165px;
    height: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.prod-box .img-box img {
    max-height: 165px;
}

.prod-box .buttons {
    position: relative;
    bottom: 0;
    display: flex;
    align-self: flex-end;
    margin-bottom: 10px;
}

.prod-box .buttons button {
    font-size: 1em;
    line-height: 0;
    color: var(--M-gray);
    transition: color 0.1s linear;
    cursor: pointer;
    padding: 0;
}

.prod-box .buttons button+button {
    margin-left: 5px;
}

.prod-box .buttons .like {
    color: var(--red);
    opacity: 0.7;
}

.prod-box .buttons .like:hover, .like:active .like:focus {
    opacity: 1;
}

.prod-box .buttons .count {
    color: var(--M-gray);
    margin: 0 5px;
}

.prod-box .buttons .share:hover {
    color: var(--D-gray);
}

.share-list.active {
    display: flex;
}

.share-list.active .popup {
    position: absolute;
    font-size: 0.8em;
    right: -10px;
    top: 40px;
}

.share-list {
    position: absolute;
    display: none;
    top: 22px;
    right: 0;
}

.share-list, .share-list.active .popup {
    padding: 10px;
    background-color: var(--white);
    border: 1px solid var(--L-gray);
    border-radius: 10px;
    box-shadow: 5px 3px 10px 0px rgba(0, 0, 0, 0.1);
}

.prod-box .buttons .share-list button {
    font-size: 1.5em;
}

.prod-box .buttons .share-list .facebook {
    color: #3b5998;
}

.prod-box .buttons .share-list .twitter {
    color: #1DA1F2;
}

.prod-box .buttons .share-list .kakaotalk {
    background-color: #ffe812;
    color: #000000;
    border-radius: 5px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info h3 {
    text-align: center;
    padding: 0 0 10px;
}

.info h4 {
    font-weight: 800;
}

.info h4 span {
    font-weight: normal;
    margin-left: 2px;
}

/* Events */

.events-wrap .prods {
    padding: 40px 0 86px;
}

.tab-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.main-tab, .sub-tab {
    display: flex;
    justify-content: space-around;
    color: var(--D-gray);
}

.main-tab {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.tab {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    transition: all 0.15s linear;
    color: var(--D-gray);
}

.tab li {
    text-transform: uppercase;
    text-align: center;
}

.tab:hover {
    color: var(--black);
}

.tab:last-child {
    border-right: none;
}

.tab.active {
    font-weight: 600;
}

.main-tab .tab {
    border-bottom: 1px solid var(--L-gray);
    align-items: center;
}

.main-tab .tab:hover {
    border-bottom: 1px solid var(--M-gray);
}

.main-tab .tab.active {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.sub-tab .tab.active {
    color: var(--sub-color);
}

.events-wrap .ico {
    position: absolute;
    top: 15px;
    right: 15px;
}

.events-wrap .evt-type, .events-wrap .evt-store {
    display: inline-block;
    font-size: 14px;
    padding: 3px 7px 2px;
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    color: var(--white);
    background-color: var(--sub-color);
}

.events-wrap .evt-store {
    margin-left: 5px;
    text-transform: uppercase;
    color: var(--white);
}

.events-wrap .evt-store.cu {
    background-color: #652f8d;
}

.events-wrap .evt-store.se {
    background-color: #1b932a;
}

.events-wrap .evt-store.gs25 {
    background-color: #007cff;
}

.events-wrap .discount {
    text-decoration: line-through;
    color: var(--M-gray);
    font-size: 0.85em;
}

.page-area {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 30px 0 0;
}

.page-wrap {
    display: flex;
    align-items: center;
    margin: 0 15px 0 18px;
    color: var(--M-gray);
    font-size: 1.1em;
}

.page {
    margin-right: 10px;
    color: var(--main-color);
}

.total {
    margin-left: 10px;
    color: var(--D-gray);
}

.btn {
    color: var(--M-gray);
    font-size: 1.3em;
    line-height: 1.1em;
    padding: 0;
    transition: color 0.2s linear;
    cursor: pointer;
}

.btn:hover {
    color: var(--D-gray);
}

.null {
    display: flex;
    width: 100%;
    height: 40.4vh;
    align-items: center;
    justify-content: center;
}

.search-wrap {
    display: flex;
    border: 1px solid transparent;
    border-radius: 7px;
    overflow: hidden;
}

.search-wrap input {
    width: 100%;
    padding: 3px 10px;
    font-size: 1em;
    line-height: 2.2em;
    border: 1px solid var(--L-gray);
    border-width: 1px 0 1px 1px;
    border-radius: 7px 0 0 7px;
    font-family: "NanumSquareRound";
    outline: var(--main-color);
    color: var(--D-gray);
    transition: border 0.1s linear;
}

.search-wrap .btn {
    width: 10%;
    font-size: 1.1em;
    line-height: 2.5em;
    font-family: "NanumSquareRound";
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
}

.search-wrap .btn:hover {
    background-color: var(--main-color);
    color: var(--white);
    transition: all 0.2s linear;
    border-color: var(--main-color);
}

.search-wrap input:hover {
    border-color: var(--M-gray);
}

/* Footer */
footer {
    padding: 40px 0;
    background-color: var(--main-color);
}

footer .inner {
    width: auto;
    justify-content: center;
    color: var(--white);
}

/* 데스크탑 */
@media screen and (max-width:1199.98px) {
    .inner, .slide-box>div {
        width: 940px;
    }

    .loader {
        padding-top: 160px;
        padding-bottom: 140px;
    }

    .new-prods .prod-box {
        width: 200px;
    }

    .new-prods .slick-slide[data-index="1"] .prod-box,
    .new-prods .slick-slide[data-index="5"] .prod-box {
        /* border: 1px solid blue; */
        margin-right: 25px;
        margin-left: 15px;
    }

    .new-prods .slick-slide[data-index="2"] .prod-box,
    .new-prods .slick-slide[data-index="6"] .prod-box {
        /* border: 1px solid green; */
        margin-left: 25px;
        margin-right: 15px;
    }


    .hot-prods .slick-slide {
        height: 330px;
    }

    .hot-prods .img-box {
        height: 330px;
        background-size: cover;
    }

    .prods-wrap .prod-box:nth-child(n),
    .best-wrap .prod-box:nth-child(n),
    .events-wrap .prod-box:nth-child(n) {
        width: 215px;
        height: 300px;
        margin-right: 26.5px;
        margin-bottom: 26.5px;
    }

    .prods-wrap .prod-box:nth-child(4n),
    .best-wrap .prod-box:nth-child(4n),
    .events-wrap .prod-box:nth-child(4n),
    .prods-wrap .prod-box:last-of-type,
    .best-wrap .prod-box:last-of-type,
    .events-wrap .prod-box:last-of-type {
        margin-right: 0;
    }

    .events-wrap .prods {
        justify-content: flex-start;
    }
}

/* 타블렛  */
@media screen and (max-width:991.98px) {
    .inner, .slide-box>div {
        width: 720px;
    }

    .loader {
        padding-top: 200px;
        padding-bottom: 180px;
    }

    .hot-prods .slick-slide {
        height: 250px;
    }

    .hot-prods .img-box {
        height: 250px;
    }

    .slide-box .text-box {
        bottom: 40px;
        padding: 0;
        padding-left: 20px;
    }

    .prods-wrap .prod-box:nth-child(n),
    .best-wrap .prod-box:nth-child(n),
    .events-wrap .prod-box:nth-child(n) {
        margin-right: 37.5px;
        margin-bottom: 37.5px;
    }

    .prods-wrap .prod-box:nth-child(3n),
    .best-wrap .prod-box:nth-child(3n),
    .events-wrap .prod-box:nth-child(3n) {
        margin-right: 0;
    }

    .prods-wrap .prod-box,
    .best-wrap .prod-box,
    .events-wrap .prod-box {
        height: 30vh;
        padding: 15px 10px;
    }

    .new-prods .cvs-wrap {
        padding-bottom: 40px;
    }

    .prod-box .img-box {
        height: auto;
        width: 100%;
    }

    .prod-box .img-box img {
        max-height: 145px;
    }

    .new-prods .prod-box {
        width: 160px;
        height: 260px;
    }

    .new-prods .img-box {
        width: 100%;
    }

    .new-prods .slick-slide[data-index="1"] .prod-box,
    .new-prods .slick-slide[data-index="5"] .prod-box {
        margin-left: 7px;
    }

    .new-prods .slick-slide[data-index="2"] .prod-box,
    .new-prods .slick-slide[data-index="6"] .prod-box {
        margin-left: 14px;
    }

}

/* 스마트폰 가로 */
@media screen and (max-width:767.98px) {

    .inner {
        width: 100%;
        padding: 0px 15px;
    }

    .prods {
        justify-content: space-between;
    }

    .hot-prods .slick-slide, .hot-prods .img-box {
        width: 100%;
        height: 100%;
        margin-bottom: -5px;
    }

    .slide-box.one .img-box, .slide-box.two .img-box, .slide-box.three .img-box {
        height: 100%;
        background-image: none;
        padding: 0;
    }

    .slide-box .img-box img {
        display: block;
        width: 100%;
    }

    .slick-dots {
        position: relative !important;
        top: 0;
        margin-top: 10px !important;
    }

    .slick-dots li button:before, .slick-dots li.slick-active button:before {
        color: var(--M-gray) !important;
    }

    .new-prods .inner {
        padding-top: 0;
    }

    .new-prods .cvs-wrap {
        padding-bottom: 30px;
    }

    .prods-wrap .prod-box:nth-child(n),
    .best-wrap .prod-box:nth-child(n),
    .events-wrap .prod-box:nth-child(n) {
        padding: 10px;
        width: 29vw;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .prods-wrap .prod-box:nth-child(3n+2),
    .best-wrap .prod-box:nth-child(3n+2),
    .events-wrap .prod-box:nth-child(3n+2) {
        margin-right: auto;
        margin-left: auto;
    }

    .prods-wrap .prod-box .img-box,
    .best-wrap .prod-box .img-box {
        padding: 0 5px;
    }

    .new-prods .prod-box {
        width: auto;
        height: 280px;
    }

    .new-prods .slick-slide:nth-of-type(n) .prod-box {
        margin: 0;
        width: 28vw;
    }

    .new-prods .slick-slide[data-index="1"] .prod-box,
    .new-prods .slick-slide[data-index="4"] .prod-box,
    .new-prods .slick-slide[data-index="6"] .prod-box {
        margin-left: 1.5vw;
    }

    .new-prods .slick-slide[data-index="2"] .prod-box,
    .new-prods .slick-slide[data-index="5"] .prod-box,
    .new-prods .slick-slide[data-index="7"] .prod-box {
        margin-left: 2.65vw;
    }

    .new-prods .slick-slide[aria-hidden="true"][data-index="5"] .prod-box {
        margin-left: 0;
    }

    .new-prods .img-box {
        width: 100%;
    }

    .events-wrap .ico {
        right: 10px;
        top: 10px;
    }

    .prod-box .buttons {
        margin-bottom: 0;
    }

    .slick-next:before {
        right: 30px;
    }

    .slick-prev:before {
        left: 30px;
    }
}

/* 스마트폰 세로 */
@media screen and (max-width:575.98px) {

    nav>a {
        z-index: 2;
    }

    nav .hmbgr {
        display: flex;
        align-items: center;
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        z-index: 2;
    }

    nav .menu {
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
        width: 100%;
        height: 100vh;
        padding: 100px 15px 0 0;
        padding-right: 0;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
        transition: transform 0.5s ease;
        transform: translateX(100%);
    }

    nav .menu.active {
        transform: translateX(0);
    }

    nav .menu li {
        font-size: 2em;
        padding: 15px 0;
    }

    nav .menu a+a {
        margin-left: 0;
    }

    nav .menu a[href="/events"]:hover>li:after {
        left: -60px;
    }

    .new-prods .slick-slider {
        padding: 0;
    }

    .slide-box.one .text-box p {
        width: 33vw;
    }

    .slide-box:nth-child(n) .text-box h3 {
        font-size: 28px;
        line-height: 31px;
    }

    .slide-box.two .text-box h3 span {
        font-size: 0.95em;
    }

    .slide-box .img-box {
        background-position: 90%;
    }

    .slide-box .text-box p {
        font-size: 3vw;
        width: 52vw;
    }

    .slide-box.two .text-box p {
        width: 40vw;
    }

    .prods-wrap .prods,
    .best-wrap .prods,
    .events-wrap .prods {
        justify-content: space-between;
    }

    .prods-wrap .prod-box:nth-child(n),
    .best-wrap .prod-box:nth-child(n),
    .events-wrap .prod-box:nth-child(n) {
        padding: 10px;
        width: 29vw;
        height: 50vw;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: max(4vw, 16px);
    }

    .prods-wrap .prod-box:nth-child(2n),
    .best-wrap .prod-box:nth-child(2n),
    .events-wrap .prod-box:nth-child(2n) {
        margin-right: 0;
    }

    .new-prods .slick-slide:nth-of-type(n) .prod-box {
        margin: 0;
        width: auto;
    }

    .new-prods .slick-slide:nth-of-type(even) .prod-box {
        margin-left: 10px;
        left: -1px;
    }
    .new-prods .slick-slide:nth-of-type(odd) .prod-box {
        margin-right: 10px;
    }

    .new-prods .prod-box {
        height: 300px;
    }

    .new-prods .img-box {
        width: 100%;
    }

    .prods-wrap .prod-box .img-box,
    .best-wrap .prod-box .img-box,
    .events-wrap .prod-box .img-box {
        width: 100%;
    }

    .new-prods .prod-box .img-box img {
        width: initial;
        max-height: 165px;
    }

    .info h3, .info h4 {
        font-size: max(2.8vw, 13px);
    }

    .info h4 {
        white-space: nowrap;
    }

    .main-tab {
        font-size: 1.1em;
    }

    .events-wrap .ico {
        top: 10px;
        right: 10px;
    }

    .search-wrap input, .search-wrap .btn {
        font-size: 0.95em;
    }

    .search-wrap .btn {
        width: 30%;
    }

}

@media screen and (max-width:400px) {

    .new-prods .prod-box {
        height: 68vw;
    }

    .prods-wrap .prod-box:nth-child(n),
    .best-wrap .prod-box:nth-child(n),
    .events-wrap .prod-box:nth-child(n) {
        height: 68vw;
        width: 43vw;
        padding: 10px 8px;
        margin-bottom: 6vw;
        font-size: 0.9em;
    }

    .prods-wrap .prods,
    .best-wrap .prods,
    .events-wrap .prods {
        justify-content: space-between;
    }

    .prods-wrap h2, .best-wrap h2, .events-wrap h2 {
        padding: 15px 0;
        font-size: 1.3em;
    }

    .info h3, .info h4 {
        font-size: 4vw;
    }

    .prod-box .buttons {
        margin-right: 2px;
    }

    .prod-box .buttons .share-list button {
        font-size: 1.25em;
    }

    .prod-box .img-box img {
        max-height: 35vw;
    }

    .main-tab {
        font-size: 1em;
    }

    .sub-tab {
        font-size: 0.9em;
    }

    .search-wrap input {
        line-height: 2em;
        font-size: 0.9em;
    }

    .events-wrap .evt-type, .events-wrap .evt-store {
        font-size: 0.7em;
        line-height: 1.8em;
        padding: 0 6px;
        border-radius: 6px;
    }

    .new-prods .prod-box::after {
        font-size: 0.7em;
    }

    .top {
        right: 10px;
    }

    footer {
        font-size: 4vw;
    }
}