@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color: #4BCFE5;
    --sub-color: #F7EE91;
    --black: #181818;
    --white: #fff;
    --red: #f54f4f;
    --D-gray: #5b5b5d;
    --M-gray: #8b8b8e;
    --L-gray: rgba(0, 0, 0, 0.1);
    --bold: "yg-jalnan";
}

::selection {
    background-color: var(--main-color);
    color: var(--white);
}

body {
    color: var(--black);
    font-family: "NanumSquareRound";
}

.wrap, nav ul, main, .hot-prods ul, .new-prods ul, main ul li, .prods {
    display: flex;
}

.wrap {
    flex-direction: column;
}

main {
    flex-direction: column;
    position: relative;
    top: 61px;
}

.inner {
    width: 1140px;
    display: flex;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    height: 234px;
    width: 100%;
    opacity: 1;
    visibility: visible;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.loader.hide {
    animation: visible 0.3s linear forwards;
    height: 0;
}

@keyframes visible {
    from {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

/* Header */

header {
    display: flex;
    justify-content: center;
    width: 100%;
    line-height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 9999;
    position: fixed;
}

nav {
    justify-content: space-between;
}

nav ul li {
    color: var(--black);
    font-weight: 500;
    transition: all 0.15s linear;
}

nav ul li.active {
    color: var(--main-color);
}

nav ul li:hover {
    color: var(--main-color);
}

nav ul a+a {
    margin-left: 20px;
}

.logo {
    color: var(--main-color);
    font-size: 1.2rem;
    margin-right: 30px;
    font-family: var(--bold);
}

/* Slide */

.hot-prods .slick-slider {
    width: 100%;
    height: 450px;
}

.new-prods .slick-slider {
    padding: 20px 0;
}

.slick-dots {
    bottom: 10px;
}

.slick-dots li button:before {
    transition: all 0.3s linear;
}

.slick-dots li button:before, .slick-dots li.slick-active button:before {
    color: var(--white);
}

.slick-prev:before {
    content: "<";
}

.slick-next:before {
    content: ">";
}

.slick-prev {
    left: 0;
    z-index: 1;
}

.slick-next {
    right: 0;
    z-index: 1;
}

.slick-prev:before, .slick-next:before {
    font-family: cursive;
    color: var(--L-gray);
    font-weight: 700;
    transition: color 0.2s ease;
}

.slick-prev {
    background: linear-gradient(90deg, rgb(255 255 255 / 80%), rgb(255 255 255 / 0%) 70.71%);
    height: 100%;
}

.slick-next {
    background: linear-gradient(270deg, rgb(255 255 255 / 80%), rgb(255 255 255 / 0%) 70.71%);
    height: 100%;
}

.slick-prev:hover:before, .slick-next:hover:before {
    color: var(--M-gray);
}

.slide-box {
    height: 450px;
    overflow: hidden;
}

.slide-box.one {
    background-image: url("../public/images/bg_3.png");
}

.slide-box.two {
    background-color: #00ad5c;
}

.slick-slide img {
    display: initial;
    max-width: initial;
}

.slide-box>div {
    width: 1140px;
    display: flex;
    margin: 0 auto;
    height: 100%;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.slide-box .img-box img {
    filter: drop-shadow(20px 20px 15px rgba(53, 53, 68, 0.3));
    transition: all 0.2s ease;
}

.slide-box.two .img-box img {
    filter: drop-shadow(20px 20px 15px rgba(0, 0, 0, 0.6));
}

.slide-box .text-box {
    display: flex;
    flex-direction: column-reverse;
    width: 55%;
    padding-top: 80px;
    z-index: 1;
}

.slide-box .text-box h3 {
    font-size: 3.4rem;
    line-height: 3.6rem;
    word-break: keep-all;
    font-family: var(--bold);
    transition: all 0.2s ease;
    padding-right: 35px;
}

.slide-box.one .text-box h3 {
    color: var(--white);
    text-shadow: 0px 1px 1px var(--main-color),
        1px 0px 1px var(--main-color),
        0px -1px 1px var(--main-color),
        -1px 0px 1px var(--main-color),
        1px 1px 1px var(--sub-color),
        2px 2px 1px var(--sub-color),
        3px 3px 1px var(--sub-color),
        4px 4px 1px var(--sub-color),
        5px 5px 1px var(--sub-color);
}

.slide-box.two .text-box h3 {
    color: var(--black);
    text-shadow: 0px 1px 1px #00ad5c,
        1px 0px 1px #00ad5c,
        0px -1px 1px #00ad5c,
        -1px 0px 1px #00ad5c,
        1px 1px 1px var(--black),
        2px 2px 1px var(--black),
        3px 3px 1px var(--black),
        4px 4px 1px var(--black),
        5px 5px 1px var(--black);
}

.slide-box .text-box h4 {
    padding-left: 2px;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 3px;
    word-break: keep-all;
}

.slide-box.one .text-box h4 {
    color: var(--white);
}

.slide-box.two .text-box h4 {
    color: var(--black);
}

.slide-box .img-box {
    position: relative;
    left: 60px;
}

.slide-box .img-box img {
    width: 100%;
}

.hot-prods {
    position: relative;
}

.hot-prods .inner {
    margin: 0 auto;
}

.hot-prods h2 {
    font-size: 1.5rem;
    z-index: 1;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    top: 30px;
    padding: 5px 20px;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: black;
    mix-blend-mode: screen;
}

.hot-prods h2 strong {
    font-family: var(--bold);
}

.hot-prods h2, .new-prods h2 {
    font-weight: 600;
}

.hot-prods h2, .slide-box .text-box h3 {
    border-radius: 25px;
}

/* New Prods */

.new-prods {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 40px 0;
}

.new-prods .inner {
    flex-direction: column;
}

.new-prods h2 {
    position: relative;
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    padding: 0 10px 10px;
    color: var(--main-color);
    border-bottom: 1px solid var(--L-gray);
}

.new-prods .slick-slider:nth-child(n+1):nth-child(-n+5) {
    margin-bottom: 20px;
}

.new-prods .prod-box {
    height: 267px;
}

.new-prods .prod-box .img-box {
    position: relative;
}

.new-prods .prod-box .img-box::after {
    content: "NEW";
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    line-height: 54px;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    border-radius: 50% 50% 50% 0;
    background-color: var(--sub-color);
}

/* Prods */

.prods {
    flex-wrap: wrap;
}

.prods-wrap {
    display: flex;
    justify-content: center;
}

.prods-wrap .inner {
    flex-direction: column;
}

.prods-wrap h2 {
    color: var(--main-color);
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    padding: 30px 0;
}

.prods-wrap .prod-box {
    width: 195px;
    height: 260px;
    padding: 15px;
    margin-right: 41.2px;
    margin-bottom: 35px;
    border: 1px solid var(--L-gray);
    border-radius: 10px;
}

.prod-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.prod-box .img-box {
    width: 165px;
    height: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prods-wrap .prod-box:nth-child(5n) {
    margin-right: 0;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prods-wrap .info h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 165px;

}

.info h3 {
    text-align: center;
    padding: 10px 0;
}

.info h4 {
    font-weight: 600;
}

.info h4 span {
    font-weight: normal;
    margin-left: 2px;
}

.prod-box img {
    width: 100%;
}


/* Footer */
footer {
    padding: 40px 0;
    background-color: var(--main-color);
    top: 61px;
    position: relative;
}

footer .inner {
    width: auto;
    justify-content: center;
    color: var(--white);
}

/* 데스크탑 */
@media screen and (max-width:1199.98px) {
    .inner, .slide-box>div {
        width: 940px;
    }

    .slide-box.one {
        background-position: 35% 0;
    }

    .slide-box .text-box {
        width: 85%;
    }

    .slide-box .text-box h3 {
        font-size: 3.2rem;
    }

    .slide-box .img-box {
        left: 20px;
    }

    .slide-box .img-box img {
        width: 120%;
    }

    .prods-wrap .prod-box:nth-child(n) {
        width: 215px;
        height: 280px;
        padding: 25px;
        margin-right: 26.5px;
        margin-bottom: 26.5px;
        justify-content: center;
    }

    .prods-wrap .prod-box:nth-child(4n) {
        margin-right: 0;
    }
}

/* 타블렛  */
@media screen and (max-width:991.98px) {
    .inner, .slide-box>div {
        width: 720px;
    }

    .hot-prods h2 {
        padding: 5px 15px;
        font-size: 1.3rem;
    }

    .slide-box.one {
        background-position: 45% 0;
    }

    .slide-box .img-box {
        left: 60px;
    }

    .slide-box .text-box h3 {
        font-size: 2.9rem;
        line-height: 3.2rem;
        width: 140%;
    }

    .prods-wrap .prod-box:nth-child(n) {
        margin-right: 37.5px;
        margin-bottom: 37.5px;
    }

    .prods-wrap .prod-box:nth-child(3n) {
        margin-right: 0;
    }

    .prod-box h3 {
        width: 100%;
        white-space: initial;
        overflow: initial;
    }

    .new-prods .prod-box {
        height: 30vh;
        padding: 10px;
    }

    .prod-box .img-box {
        width: 100%;
    }

}

/* 스마트폰 가로 */
@media screen and (max-width:767.98px) {
    .inner, .slide-box>div {
        width: 100%;
        padding: 0px 15px;
    }

    .hot-prods h2 {
        font-size: 2.8vw;
    }

    .slick-dots {
        bottom: 5px;
    }

    .slide-box.one {
        background-position: 55% 0;
    }

    .slide-box .text-box {
        position: absolute;
        bottom: 40px;
        left: 15px;
    }

    .slide-box .text-box h3 {
        font-size: 5.4vw;
        line-height: 6vw;
        background-color: var(--white);
        width: fit-content;
        padding: 8px 15px;
    }

    .slide-box.one .text-box h3 {
        color: var(--main-color);
        text-shadow: none;
    }

    .slide-box.two .text-box h3 {
        color: #00ad5c;
        text-shadow: none;
    }

    .slide-box .text-box h4 {
        font-size: 1.3rem;
        margin-left: 5px;
        margin-bottom: 10px;
    }

    .slide-box.one .text-box h4 {
        text-shadow: var(--main-color) 1px 0px 0px,
            var(--main-color) 0.540302px 0.841471px 0px,
            var(--main-color) -0.416147px 0.909297px 0px,
            var(--main-color) -0.989992px 0.14112px 0px,
            var(--main-color) -0.653644px -0.756802px 0px,
            var(--main-color) 0.283662px -0.958924px 0px,
            var(--main-color) 0.96017px -0.279415px 0px;
    }

    .slide-box.two .text-box h4 {
        text-shadow: #00ad5c 1px 0px 0px,
            #00ad5c 0.540302px 0.841471px 0px,
            #00ad5c -0.416147px 0.909297px 0px,
            #00ad5c -0.989992px 0.14112px 0px,
            #00ad5c -0.653644px -0.756802px 0px,
            #00ad5c 0.283662px -0.958924px 0px,
            #00ad5c 0.96017px -0.279415px 0px;
    }

    .slide-box .img-box {
        left: 25%;
        bottom: 20px;
    }

    .slide-box .img-box img {
        width: 94%;
    }

    .prods-wrap .prods {
        justify-content: space-between;
    }

    .prods-wrap .prod-box:nth-child(n) {
        padding: 15px;
        width: 28vw;
        height: 30vh;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .prods-wrap .prod-box:nth-child(3n) {
        margin-right: 0;
    }

    .prods-wrap .prod-box .img-box {
        width: 22vw;
        height: 22vh;
    }

    .new-prods .prod-box {
        width: 29vw;
    }

    .new-prods .prod-box .img-box {
        width: 165px;
    }

}

/* 스마트폰 세로 */
@media screen and (max-width:575.98px) {

    .hot-prods .slick-slider, .slide-box {
        height: 420px;
    }

    .hot-prods h2 {
        font-size: 1rem;
    }

    .slide-box .text-box {
        flex-flow: wrap-reverse;
    }

    .slide-box .text-box h3 {
        font-size: 5.2vw;
    }

    .slide-box .text-box h4 {
        font-size: 3.5vw;
        width: 100%;
    }

    .slide-box .img-box {
        bottom: 5px;
    }

    .prods-wrap .prods {
        justify-content: space-around;
    }

    .prods-wrap .prod-box:nth-child(n) {
        width: 40vw;
        height: 30vh;
        margin-bottom: 30px;
    }

    .prods-wrap .prod-box:nth-child(3n) {
        margin-right: 0;
    }

    .new-prods .prod-box {
        width: auto;
    }

    .new-prods .prod-box .img-box {
        width: 30vw;
        height: inherit;
    }

}