:root {
    --main-color: #4BCFE5;
    --sub-color: #F7EE91;
    --black: #181818;
    --white: #fff;
    --D-gray: #5b5b5d;
    --M-gray: #8b8b8e;
    --L-gray: #d7d7d8;
}

body {
    color: var(--black);
}

.wrap, nav ul, main, .hot-prods ul, .new-prods ul, main ul li, .prods {
    display: flex;
}

.wrap {
    flex-direction: column;
}

main {
    flex-direction: column;
    position: relative;
    bottom: 61px;
}

.inner {
    width: 1140px;
    display: flex;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.loader.hide {
    animation: visible 0.3s linear forwards;
    animation-delay: 0.3s;
}

@keyframes visible {
    from {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

/* Header */

header {
    display: flex;
    justify-content: center;
    width: 100%;
    line-height: 60px;
    border-bottom: 1px solid var(--L-gray);
    background-color: var(--white);
    z-index: 1;
}

nav ul li {
    color: var(--black);
    font-weight: 500;
}

nav ul a+a {
    margin-left: 20px;
}

.logo {
    color: var(--main-color);
    font-weight: 900;
    font-size: 1.2rem;
    margin-right: 30px;
}

/* Slide */

.hot-prods .slick-slider {
    width: 100%;
}

.hot-prods .slide-box {
    text-align: -webkit-center;
    background-color: #d7d7d8;
    height: 440px;
}

.new-prods .slick-slider {
    padding: 20px;
}

.slick-dots {
    bottom: 0;
}

.slick-prev:before {
    content: "<";
}

.slick-next:before {
    content: ">";
}

.slick-prev {
    left: 0;
    z-index: 1;
}

.slick-next {
    right: 0;
    z-index: 1;
}

.slick-prev:before, .slick-next:before {
    font-family: cursive;
    color: var(--D-gray);
}

/* Prods */

.new-prods {
    display: flex;
    justify-content: center;
}

.new-prods .inner {
    flex-direction: column;
}

.hot-prods {
    position: relative;
}

.hot-prods .inner {
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: 90px;
    left: 20px;
}

.hot-prods h1 {
    background-color: var(--main-color);
    border-radius: 20px;
    color: var(--white);
    font-size: 1.5rem;
    z-index: 1;
}

.new-prods h1 {
    background-color: var(--sub-color);
    font-size: 1.2rem;
}

.hot-prods h1, .new-prods h1 {
    padding: 10px;
    font-weight: 700;
}

.new-prods img {
    width: 165px;
}

.prod-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prod-box h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Footer */
footer {
    padding: 40px 0;
    background-color: var(--main-color);
}

footer .inner {
    justify-content: center;
    color: var(--white);
}

/* 데스크탑 */
@media screen and (max-width:1199.98px) {
    .inner {
        width: 940px;
    }
}

/* 타블렛  */
@media screen and (max-width:991.98px) {
    .inner {
        width: 720px;
    }

    .prod-box h2 {
        max-width: 165px;
    }

}

/* 스마트폰 가로 */
@media screen and (max-width:767.98px) {
    .inner {
        width: auto;
        padding: 0px 15px;
    }

}

/* 스마트폰 세로 */
@media screen and (max-width:575.98px) {}